openapi: 3.1.0
info:
  title: Tellen API
  version: "1.0.0"
  description: |
    API REST de Tellen para facturación electrónica en Ecuador.

    Autentícate con un token de API (`Authorization: Bearer tellen_tk_...`) que
    generas desde tu cuenta de Tellen. Todas las solicitudes actúan sobre una
    cuenta, indicada por su identificador en la ruta:
    `/api/v1/accounts/{account_id}/...`.

    Normalmente ese identificador es el de tu propia cuenta. Si administras
    varias cuentas, usa el identificador de cada una para operar sobre ella. Si
    intentas acceder a una cuenta que no administras, la API responde `404`.
servers:
  - url: https://dashboard.tellen.app
    description: Producción
security:
  - bearerAuth: []
tags:
  - name: Cuentas
    description: Tu cuenta y, si administras varias, las cuentas que gestionas.
  - name: Certificados
    description: Certificados de firma electrónica (.p12) usados para firmar documentos ante el SRI.
  - name: Contactos
    description: Clientes y proveedores de la cuenta.
  - name: Establecimientos
    description: Establecimientos (sucursales) de la cuenta, sincronizados desde el SRI.
  - name: Puntos de emisión
    description: Puntos de emisión por establecimiento, desde donde se emiten los comprobantes.
  - name: Productos
    description: Catálogo de productos y servicios de la cuenta, con su configuración de impuestos e inventario.
  - name: Facturas
    description: Facturas de venta (comprobante electrónico 01).
paths:
  /api/v1/accounts:
    get:
      operationId: listAccounts
      summary: Listar cuentas
      description: |
        Devuelve las cuentas a las que puedes acceder con tu token: tu propia
        cuenta y, si administras varias, todas las que gestionas.
      tags: [Cuentas]
      responses:
        "200":
          description: Las cuentas a las que puedes acceder.
          content:
            application/json:
              schema:
                type: object
                required: [accounts]
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createAccount
      summary: Crear una cuenta
      description: |
        Provisiona una nueva cuenta bajo tu gestión a partir de su RUC. El perfil
        del negocio y sus establecimientos activos se obtienen del SRI; tú solo
        envías el RUC, los datos de contacto y el plan. Disponible solo si tu
        cuenta está habilitada para administrar varias cuentas; de lo contrario la
        API responde `404`. Si el RUC no existe en el SRI la API responde `404`, y
        si ya está registrado en Tellen responde `409`.
      tags: [Cuentas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountCreateRequest"
      responses:
        "201":
          description: La cuenta creada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: El RUC ya está registrado en Tellen.
          content:
            application/json:
              schema:
                type: object
                required: [errors]
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: getAccount
      summary: Consultar una cuenta
      tags: [Cuentas]
      responses:
        "200":
          description: La cuenta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateAccount
      summary: Actualizar una cuenta
      description: |
        Modifica los datos de tu cuenta o de una cuenta que administras. Envía
        solo los campos que quieras cambiar.

        El plan de tu propia cuenta se gestiona desde tu suscripción, por lo que
        el campo `plan` se ignora al editar tu cuenta; solo se aplica al editar
        una cuenta que administras.
      tags: [Cuentas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUpdateRequest"
      responses:
        "200":
          description: La cuenta actualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/certificates:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listCertificates
      summary: Listar certificados
      description: Devuelve los certificados de firma de la cuenta, del más reciente al más antiguo.
      tags: [Certificados]
      responses:
        "200":
          description: Los certificados de la cuenta.
          content:
            application/json:
              schema:
                type: object
                required: [certificates]
                properties:
                  certificates:
                    type: array
                    items:
                      $ref: "#/components/schemas/Certificate"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createCertificate
      summary: Subir un certificado de firma
      description: |
        Sube un certificado de firma electrónica (.p12 / PKCS#12) para la cuenta.
        Envía el archivo codificado en base64 junto con su contraseña. Si la
        contraseña es correcta, el certificado queda como el certificado activo
        de la cuenta y se usa para firmar sus documentos electrónicos.
      tags: [Certificados]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertificateCreateRequest"
      responses:
        "201":
          description: El certificado subido, ahora activo.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/certificates/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del certificado.
        schema:
          type: string
          format: uuid
    get:
      operationId: getCertificate
      summary: Consultar un certificado
      tags: [Certificados]
      responses:
        "200":
          description: El certificado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteCertificate
      summary: Eliminar un certificado
      description: |
        Elimina un certificado de la cuenta. Si eliminas el certificado activo,
        la cuenta queda sin certificado de firma hasta que subas otro.
      tags: [Certificados]
      responses:
        "204":
          description: El certificado fue eliminado.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/accounts/{account_id}/contacts:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listContacts
      summary: Listar contactos
      description: Devuelve los clientes y proveedores de la cuenta, ordenados por razón social, con paginación.
      tags: [Contactos]
      parameters:
        - name: query
          in: query
          description: Buscar por razón social o identificación.
          schema:
            type: string
        - name: contact_type
          in: query
          description: Filtrar por tipo.
          schema:
            type: string
            enum: [cliente, proveedor]
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los contactos de la cuenta, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [contacts, pagination]
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContactSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createContact
      summary: Crear un contacto
      tags: [Contactos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreateRequest"
      responses:
        "201":
          description: El contacto creado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/contacts/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del contacto.
        schema:
          type: string
          format: uuid
    get:
      operationId: getContact
      summary: Consultar un contacto
      tags: [Contactos]
      responses:
        "200":
          description: El contacto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateContact
      summary: Actualizar un contacto
      description: Envía solo los campos que quieras cambiar.
      tags: [Contactos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUpdateRequest"
      responses:
        "200":
          description: El contacto actualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteContact
      summary: Eliminar un contacto
      description: Solo se pueden eliminar contactos sin documentos asociados.
      tags: [Contactos]
      responses:
        "204":
          description: El contacto fue eliminado.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/stores:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listStores
      summary: Listar establecimientos
      description: Devuelve los establecimientos de la cuenta, ordenados por código, con paginación.
      tags: [Establecimientos]
      parameters:
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los establecimientos de la cuenta, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [stores, pagination]
                properties:
                  stores:
                    type: array
                    items:
                      $ref: "#/components/schemas/StoreSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/accounts/{account_id}/stores/sync:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
    post:
      operationId: syncStores
      summary: Sincronizar establecimientos desde el SRI
      description: |
        Consulta los establecimientos de la cuenta en el SRI y crea uno por cada
        establecimiento activo (`ABIERTO`) que aún no exista. Es idempotente: los
        establecimientos ya registrados se omiten, así que puedes ejecutarlo las
        veces que quieras.
      tags: [Establecimientos]
      responses:
        "200":
          description: Resumen de la sincronización.
          content:
            application/json:
              schema:
                type: object
                required: [created, skipped_inactive, errors]
                properties:
                  created:
                    type: integer
                    description: Establecimientos activos creados.
                  skipped_inactive:
                    type: integer
                    description: Establecimientos omitidos por estar cerrados.
                  errors:
                    type: array
                    items:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/stores/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del establecimiento.
        schema:
          type: string
          format: uuid
    get:
      operationId: getStore
      summary: Consultar un establecimiento
      description: Incluye los puntos de emisión del establecimiento.
      tags: [Establecimientos]
      responses:
        "200":
          description: El establecimiento.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/accounts/{account_id}/emission_points:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
    get:
      operationId: listEmissionPoints
      summary: Listar puntos de emisión
      description: Devuelve los puntos de emisión de la cuenta, ordenados por código, con paginación.
      tags: [Puntos de emisión]
      parameters:
        - name: store_id
          in: query
          description: Filtrar por establecimiento.
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los puntos de emisión de la cuenta, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [emission_points, pagination]
                properties:
                  emission_points:
                    type: array
                    items:
                      $ref: "#/components/schemas/EmissionPointSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createEmissionPoint
      summary: Crear un punto de emisión
      tags: [Puntos de emisión]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmissionPointCreateRequest"
      responses:
        "201":
          description: El punto de emisión creado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmissionPointEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/emission_points/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del punto de emisión.
        schema:
          type: string
          format: uuid
    get:
      operationId: getEmissionPoint
      summary: Consultar un punto de emisión
      tags: [Puntos de emisión]
      responses:
        "200":
          description: El punto de emisión.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmissionPointEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateEmissionPoint
      summary: Actualizar un punto de emisión
      description: Envía solo los campos que quieras cambiar.
      tags: [Puntos de emisión]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmissionPointUpdateRequest"
      responses:
        "200":
          description: El punto de emisión actualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmissionPointEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteEmissionPoint
      summary: Eliminar un punto de emisión
      description: Solo se pueden eliminar puntos de emisión sin documentos asociados.
      tags: [Puntos de emisión]
      responses:
        "204":
          description: El punto de emisión fue eliminado.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/products:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listProducts
      summary: Listar productos
      description: Devuelve los productos y servicios de la cuenta, ordenados por nombre, con paginación.
      tags: [Productos]
      parameters:
        - name: query
          in: query
          description: Buscar por nombre, código, código secundario, descripción o GTIN.
          schema:
            type: string
        - name: product_type
          in: query
          description: Filtrar por tipo.
          schema:
            type: string
            enum: [bien, servicio]
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los productos de la cuenta, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [products, pagination]
                properties:
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProductSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createProduct
      summary: Crear un producto
      tags: [Productos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductCreateRequest"
      responses:
        "201":
          description: El producto creado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/products/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del producto.
        schema:
          type: string
          format: uuid
    get:
      operationId: getProduct
      summary: Consultar un producto
      description: Incluye la configuración de impuestos, las variantes con nombre y el inventario.
      tags: [Productos]
      responses:
        "200":
          description: El producto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateProduct
      summary: Actualizar un producto
      description: Envía solo los campos que quieras cambiar.
      tags: [Productos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdateRequest"
      responses:
        "200":
          description: El producto actualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteProduct
      summary: Eliminar un producto
      description: Solo se pueden eliminar productos sin documentos asociados.
      tags: [Productos]
      responses:
        "204":
          description: El producto fue eliminado.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/invoices:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listInvoices
      summary: Listar facturas
      description: |
        Devuelve las facturas de la cuenta en el ambiente activo (pruebas o
        producción), de la más reciente a la más antigua, con paginación.
      tags: [Facturas]
      parameters:
        - name: status
          in: query
          description: Filtrar por estado.
          schema:
            type: string
            enum: [draft, pending, authorized, rejected, cancelled]
        - name: contact_id
          in: query
          description: Filtrar por cliente.
          schema:
            type: string
            format: uuid
        - name: emission_date_from
          in: query
          description: Facturas emitidas desde esta fecha (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: emission_date_to
          in: query
          description: Facturas emitidas hasta esta fecha (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Las facturas de la cuenta, paginadas.
          content:
            application/json:
              schema:
                type: object
                required: [invoices, pagination]
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvoiceSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createInvoice
      summary: Crear una factura
      description: |
        Crea una factura en borrador. Los impuestos de cada ítem se derivan
        automáticamente del producto referenciado; solo envías el producto, la
        cantidad y el descuento. Para enviarla al SRI, usa luego el endpoint de
        envío.
      tags: [Facturas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceCreateRequest"
      responses:
        "201":
          description: La factura creada en borrador.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/invoices/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la factura.
        schema:
          type: string
          format: uuid
    get:
      operationId: getInvoice
      summary: Consultar una factura
      description: Devuelve la factura con sus ítems, cliente y punto de emisión.
      tags: [Facturas]
      responses:
        "200":
          description: La factura.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateInvoice
      summary: Editar una factura
      description: |
        Edita una factura en borrador o rechazada. Puedes cambiar el cliente y el
        método de pago; si envías `items`, reemplaza todos los ítems actuales.
      tags: [Facturas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceUpdateRequest"
      responses:
        "200":
          description: La factura actualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteInvoice
      summary: Eliminar una factura
      description: Elimina una factura en borrador. Las facturas ya enviadas al SRI no se pueden eliminar.
      tags: [Facturas]
      responses:
        "204":
          description: La factura fue eliminada.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/invoices/{id}/submit:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la factura.
        schema:
          type: string
          format: uuid
    post:
      operationId: submitInvoice
      summary: Enviar una factura al SRI
      description: |
        Encola una factura en borrador o rechazada para su autorización en el SRI.
        La cuenta debe tener un certificado de firma activo. El procesamiento
        ocurre en segundo plano: la factura pasa a `pending` y luego a
        `authorized` o `rejected`. Consulta el estado final con `GET` de la
        factura.
      tags: [Facturas]
      responses:
        "202":
          description: La factura fue encolada para envío (`pending`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/invoices/{id}/void:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la factura.
        schema:
          type: string
          format: uuid
    post:
      operationId: voidInvoice
      summary: Anular una factura
      description: |
        Anula una factura autorizada. Solo es posible hasta el día 7 del mes
        siguiente a la emisión. Recuerda anular también el comprobante en el SRI.
      tags: [Facturas]
      responses:
        "200":
          description: La factura anulada (`cancelled`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Token de API enviado como `Authorization: Bearer tellen_tk_...`. Genera
        tu token desde tu cuenta de Tellen. Tu cuenta debe tener el acceso a la
        API habilitado.
  schemas:
    Account:
      type: object
      required: [id, razon_social, nombre_comercial, ruc, plan]
      properties:
        id:
          type: string
          format: uuid
        razon_social:
          type: string
          description: Razón social (nombre legal registrado del negocio).
        nombre_comercial:
          type: string
          description: Nombre comercial del negocio.
        ruc:
          type: string
          description: RUC ecuatoriano de 13 dígitos.
        plan:
          type: string
          enum: [basico, profesional, empresarial]
    AccountEnvelope:
      type: object
      required: [account]
      properties:
        account:
          $ref: "#/components/schemas/Account"
    Certificate:
      type: object
      required: [id, name, active, expires_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Nombre generado del certificado (incluye el RUC y la fecha de vencimiento).
        active:
          type: boolean
          description: Si es el certificado activo de la cuenta (solo uno lo está a la vez).
        expires_at:
          type: [string, "null"]
          format: date-time
          description: Fecha de vencimiento del certificado.
    CertificateEnvelope:
      type: object
      required: [certificate]
      properties:
        certificate:
          $ref: "#/components/schemas/Certificate"
    CertificateCreateRequest:
      type: object
      required: [certificate]
      properties:
        certificate:
          type: object
          required: [p12_file, p12_password]
          properties:
            p12_file:
              type: string
              format: byte
              description: Archivo .p12 (PKCS#12) codificado en base64.
            p12_password:
              type: string
              description: Contraseña del certificado .p12.
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Mensaje de error descriptivo, en español.
    AccountCreateRequest:
      type: object
      required: [account]
      properties:
        account:
          type: object
          required: [ruc, email, phone, plan]
          description: |
            Solo necesitas el RUC, los datos de contacto y el plan. El perfil del
            negocio (razón social, dirección, régimen, obligaciones tributarias) y
            los establecimientos activos se obtienen automáticamente del SRI y no
            se pueden sobrescribir.
          properties:
            ruc:
              type: string
              description: RUC ecuatoriano de 13 dígitos. Debe ser único y existir en el SRI.
            email:
              type: string
              format: email
            phone:
              type: string
            plan:
              type: string
              enum: [basico, profesional, empresarial]
            production_mode:
              type: boolean
              description: Ambiente del SRI. Si se omite, la cuenta se crea en el ambiente de pruebas (`false`).
    AccountUpdateRequest:
      type: object
      required: [account]
      properties:
        account:
          type: object
          description: |
            Envía solo los campos que quieras cambiar. El campo `plan` se ignora
            al editar tu propia cuenta y solo se aplica al editar una cuenta que
            administras.
          properties:
            razon_social:
              type: string
              description: Razón social (nombre legal registrado del negocio).
            nombre_comercial:
              type: string
              description: Nombre comercial del negocio.
            dir_matriz:
              type: string
              description: Dirección de la matriz (establecimiento principal).
            email:
              type: string
              format: email
            phone:
              type: string
            billing_email:
              type: string
              format: email
            plan:
              type: string
              enum: [basico, profesional, empresarial]
            regimen:
              type: string
              enum: [general, negocio_popular, rimpe]
            obligado_contabilidad:
              type: boolean
            agente_retencion:
              type: boolean
            contribuyente_especial:
              type: boolean
            exportador:
              type: boolean
            sector_turistico:
              type: boolean
            production_mode:
              type: boolean
    Pagination:
      type: object
      required: [page, total_pages, total_count]
      properties:
        page:
          type: integer
        total_pages:
          type: integer
        total_count:
          type: integer
    InvoiceSummary:
      type: object
      required: [id, status, sequential, emission_date, total]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, pending, authorized, rejected, cancelled]
        sequential:
          type: string
          description: Secuencial completo (establecimiento-punto-secuencial).
        emission_date:
          type: string
          format: date
        contact_name:
          type: [string, "null"]
          description: Razón social del cliente.
        total:
          type: number
          description: Total de la factura, con impuestos.
    InvoiceItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        product_id:
          type: [string, "null"]
          format: uuid
        code:
          type: [string, "null"]
        description:
          type: string
        quantity:
          type: number
        unit_price:
          type: number
        discount:
          type: number
        subtotal:
          type: number
        tax_rate:
          type: number
          description: Porcentaje de IVA aplicado.
        tax_value:
          type: number
        total:
          type: number
    Invoice:
      type: object
      required: [id, status, sequential, emission_date, total, items]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, pending, authorized, rejected, cancelled]
        sequential:
          type: string
        emission_date:
          type: string
          format: date
        contact:
          type: object
          properties:
            id:
              type: string
              format: uuid
            razon_social:
              type: [string, "null"]
            identificacion:
              type: [string, "null"]
        emission_point:
          type: object
          properties:
            id:
              type: string
              format: uuid
            code:
              type: [string, "null"]
            store_code:
              type: [string, "null"]
        payment_method:
          type: string
          description: Código SRI de forma de pago.
        total_without_taxes:
          type: number
        total_discount:
          type: number
        total:
          type: number
        access_key:
          type: [string, "null"]
          description: Clave de acceso de 49 dígitos (presente una vez enviada al SRI).
        authorization_number:
          type: [string, "null"]
        error_message:
          type: [string, "null"]
          description: Motivo del rechazo, cuando el estado es `rejected`.
        created_at:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceItem"
    InvoiceEnvelope:
      type: object
      required: [invoice]
      properties:
        invoice:
          $ref: "#/components/schemas/Invoice"
    DocumentStatus:
      type: object
      description: Identificador y estado de un documento tras una acción de ciclo de vida (envío, anulación). Consulta el recurso completo con `GET`.
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, pending, authorized, rejected, cancelled]
    InvoiceItemRequest:
      type: object
      description: |
        Referencia un producto por `product_variant_id` (preferido) o por
        `product_id` (usa la variante por defecto del producto). Los impuestos
        se derivan del producto.
      properties:
        product_variant_id:
          type: string
          format: uuid
          description: ID de la variante del producto. Preferido.
        product_id:
          type: string
          format: uuid
          description: ID del producto. Atajo que resuelve a su variante por defecto.
        quantity:
          type: number
          description: Cantidad (por defecto 1).
        unit_price:
          type: number
          description: Precio unitario. Si se omite, usa el de la variante.
        discount:
          type: number
          description: Descuento (por defecto 0).
    InvoiceCreateRequest:
      type: object
      required: [invoice]
      properties:
        invoice:
          type: object
          required: [contact_id, emission_point_id, items]
          properties:
            contact_id:
              type: string
              format: uuid
              description: Cliente de la factura.
            emission_point_id:
              type: string
              format: uuid
            payment_method:
              type: string
              description: Código SRI de forma de pago (por defecto `20`).
            items:
              type: array
              minItems: 1
              items:
                $ref: "#/components/schemas/InvoiceItemRequest"
    InvoiceUpdateRequest:
      type: object
      required: [invoice]
      properties:
        invoice:
          type: object
          description: Envía solo los campos que quieras cambiar.
          properties:
            contact_id:
              type: string
              format: uuid
            payment_method:
              type: string
            items:
              type: array
              description: Si se envía, reemplaza todos los ítems actuales.
              items:
                $ref: "#/components/schemas/InvoiceItemRequest"
    ContactSummary:
      type: object
      required: [id, razon_social, identificacion, tipo_identificacion, cliente, proveedor]
      properties:
        id:
          type: string
          format: uuid
        razon_social:
          type: string
        identificacion:
          type: string
          description: RUC, cédula, pasaporte, etc.
        tipo_identificacion:
          type: string
          description: Código SRI del tipo de identificación.
        cliente:
          type: boolean
        proveedor:
          type: boolean
    Contact:
      allOf:
        - $ref: "#/components/schemas/ContactSummary"
        - type: object
          properties:
            nombre_comercial:
              type: [string, "null"]
            tipo_contribuyente:
              type: [string, "null"]
            email:
              type: [string, "null"]
            phone:
              type: [string, "null"]
            mobile_phone:
              type: [string, "null"]
            address:
              type: [string, "null"]
            note:
              type: [string, "null"]
            created_at:
              type: string
              format: date-time
    ContactEnvelope:
      type: object
      required: [contact]
      properties:
        contact:
          $ref: "#/components/schemas/Contact"
    ContactCreateRequest:
      type: object
      required: [contact]
      properties:
        contact:
          type: object
          required: [razon_social, tipo_identificacion, identificacion]
          description: Marca al menos uno de `cliente` o `proveedor`.
          properties:
            razon_social:
              type: string
            nombre_comercial:
              type: string
            tipo_identificacion:
              type: string
              description: Código SRI del tipo de identificación.
            identificacion:
              type: string
            cliente:
              type: boolean
            proveedor:
              type: boolean
            tipo_contribuyente:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
            mobile_phone:
              type: string
            address:
              type: string
            note:
              type: string
    ContactUpdateRequest:
      type: object
      required: [contact]
      properties:
        contact:
          type: object
          description: Envía solo los campos que quieras cambiar.
          properties:
            razon_social:
              type: string
            nombre_comercial:
              type: string
            tipo_identificacion:
              type: string
            identificacion:
              type: string
            cliente:
              type: boolean
            proveedor:
              type: boolean
            tipo_contribuyente:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
            mobile_phone:
              type: string
            address:
              type: string
            note:
              type: string
    StoreSummary:
      type: object
      required: [id, code, name, address]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          description: Código de 3 dígitos del establecimiento.
        name:
          type: string
        address:
          type: string
    Store:
      allOf:
        - $ref: "#/components/schemas/StoreSummary"
        - type: object
          required: [emission_points]
          properties:
            phone:
              type: [string, "null"]
            email:
              type: [string, "null"]
            emission_points:
              type: array
              items:
                type: object
                required: [id, code]
                properties:
                  id:
                    type: string
                    format: uuid
                  code:
                    type: string
                  description:
                    type: [string, "null"]
    StoreEnvelope:
      type: object
      required: [store]
      properties:
        store:
          $ref: "#/components/schemas/Store"
    EmissionPointSummary:
      type: object
      required: [id, code, store_id, store_code]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          description: Código de 3 dígitos del punto de emisión.
        description:
          type: [string, "null"]
        store_id:
          type: string
          format: uuid
        store_code:
          type: string
    EmissionPoint:
      allOf:
        - $ref: "#/components/schemas/EmissionPointSummary"
        - type: object
          properties:
            next_sequential_test:
              type: integer
              description: Siguiente secuencial a usar en el ambiente de pruebas.
            next_sequential_production:
              type: integer
              description: Siguiente secuencial a usar en producción.
            created_at:
              type: string
              format: date-time
    EmissionPointEnvelope:
      type: object
      required: [emission_point]
      properties:
        emission_point:
          $ref: "#/components/schemas/EmissionPoint"
    EmissionPointCreateRequest:
      type: object
      required: [emission_point]
      properties:
        emission_point:
          type: object
          required: [store_id, code]
          properties:
            store_id:
              type: string
              format: uuid
              description: Establecimiento al que pertenece.
            code:
              type: string
              description: Código de 3 dígitos, único por establecimiento.
            description:
              type: string
            next_sequential_test:
              type: integer
              description: Secuencial inicial en pruebas (por defecto 1).
            next_sequential_production:
              type: integer
              description: Secuencial inicial en producción (por defecto 1).
    EmissionPointUpdateRequest:
      type: object
      required: [emission_point]
      properties:
        emission_point:
          type: object
          description: Envía solo los campos que quieras cambiar.
          properties:
            store_id:
              type: string
              format: uuid
            code:
              type: string
            description:
              type: string
            next_sequential_test:
              type: integer
            next_sequential_production:
              type: integer
    ProductSummary:
      type: object
      required: [id, name, product_type, price_before_tax, iva, iva_rate, track_stock]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        code:
          type: [string, "null"]
          description: Código interno, único por cuenta.
        product_type:
          type: string
          enum: [bien, servicio]
        price_before_tax:
          type: number
          description: Precio unitario sin impuestos.
        iva:
          type: string
          enum: ["0", "5", "8", "12", "15", no_objeto_iva, exento_iva]
        iva_rate:
          type: number
          description: Porcentaje de IVA aplicado.
        track_stock:
          type: boolean
          description: Si el producto controla inventario.
    Product:
      allOf:
        - $ref: "#/components/schemas/ProductSummary"
        - type: object
          properties:
            secondary_code:
              type: [string, "null"]
            gtin:
              type: [string, "null"]
            description:
              type: [string, "null"]
            unit_of_measurement:
              type: [string, "null"]
            has_ice:
              type: boolean
            ice_rate:
              type: [number, "null"]
              description: Porcentaje de ICE, o `null` si no aplica.
            stock:
              type: [object, "null"]
              description: Inventario del producto, o `null` si no controla stock.
              required: [total, status]
              properties:
                total:
                  type: number
                  description: Existencias actuales sumadas sobre las variantes vendibles.
                status:
                  type: string
                  enum: [in_stock, low_stock, out_of_stock]
            variants:
              type: array
              description: Variantes con nombre. Vacío para un producto de un solo SKU.
              items:
                type: object
                required: [id, code, name, price_before_tax]
                properties:
                  id:
                    type: string
                    format: uuid
                  code:
                    type: string
                  name:
                    type: string
                  price_before_tax:
                    type: number
                  stock_quantity:
                    type: number
                    description: Existencias de la variante, si controla stock.
            created_at:
              type: string
              format: date-time
    ProductEnvelope:
      type: object
      required: [product]
      properties:
        product:
          $ref: "#/components/schemas/Product"
    ProductCreateRequest:
      type: object
      required: [product]
      properties:
        product:
          type: object
          required: [name, code, product_type, iva, price_before_tax]
          properties:
            name:
              type: string
            code:
              type: string
              description: Código interno, único por cuenta.
            secondary_code:
              type: string
            gtin:
              type: string
            product_type:
              type: string
              enum: [bien, servicio]
            description:
              type: string
            iva:
              type: string
              enum: ["0", "5", "8", "12", "15", no_objeto_iva, exento_iva]
            unit_of_measurement:
              type: string
            price_before_tax:
              type: number
              description: Precio unitario sin impuestos.
            catalog_ice_tax_id:
              type: string
              format: uuid
              description: Impuesto ICE del catálogo, si aplica.
            track_stock:
              type: boolean
              description: Activa el control de inventario (ignorado en servicios).
            initial_stock:
              type: number
              description: Existencias iniciales, registradas en el kardex al crear.
            low_stock_threshold:
              type: number
              description: Umbral para marcar stock bajo.
    ProductUpdateRequest:
      type: object
      required: [product]
      properties:
        product:
          type: object
          description: Envía solo los campos que quieras cambiar. Las existencias no se editan aquí; se mueven a través del kardex.
          properties:
            name:
              type: string
            code:
              type: string
            secondary_code:
              type: string
            gtin:
              type: string
            product_type:
              type: string
              enum: [bien, servicio]
            description:
              type: string
            iva:
              type: string
              enum: ["0", "5", "8", "12", "15", no_objeto_iva, exento_iva]
            unit_of_measurement:
              type: string
            price_before_tax:
              type: number
            catalog_ice_tax_id:
              type: string
              format: uuid
            track_stock:
              type: boolean
            low_stock_threshold:
              type: number
  responses:
    Unauthorized:
      description: Falta el token, o es inválido o está inactivo. Verifica el encabezado `Authorization`.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Tu cuenta no tiene el acceso a la API habilitado.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: La cuenta no existe o no la administras.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ValidationError:
      description: Los datos enviados no son válidos.
      content:
        application/json:
          schema:
            type: object
            required: [errors]
            properties:
              errors:
                type: array
                items:
                  type: string
