openapi: 3.1.0
info:
  title: Tellen API
  version: "1.0.0"
  description: |
    API REST de Tellen para facturación electrónica en Ecuador.

    Autentícate con un token de API (`Authorization: Bearer tellen_tk_...`) que
    generas desde tu cuenta de Tellen. Todas las solicitudes actúan sobre una
    cuenta, indicada por su identificador en la ruta:
    `/api/v1/accounts/{account_id}/...`.

    Normalmente ese identificador es el de tu propia cuenta. Si administras
    varias cuentas, usa el identificador de cada una para operar sobre ella. Si
    intentas acceder a una cuenta que no administras, la API responde `404`.
servers:
  - url: https://dashboard.tellen.app
    description: Producción
security:
  - bearerAuth: []
tags:
  - name: Cuentas
    description: Tu cuenta y, si administras varias, las cuentas que gestionas.
  - name: Resumen
    description: Las cifras del mes de una cuenta, lo vendido y comprado y lo que se debe.
  - name: Certificados
    description: Certificados de firma electrónica (.p12) usados para firmar documentos ante el SRI.
  - name: Contactos
    description: Clientes y proveedores de la cuenta.
  - name: Establecimientos
    description: Establecimientos (sucursales) de la cuenta, sincronizados desde el SRI.
  - name: Puntos de emisión
    description: Puntos de emisión por establecimiento, desde donde se emiten los comprobantes.
  - name: Productos
    description: |
      Catálogo de productos y servicios de la cuenta, con su configuración de
      impuestos e inventario.

      **Variantes.** Cada producto tiene al menos una variante interna. Un
      producto de un solo SKU se representa de forma plana (su variante por
      defecto es un detalle de implementación y no aparece en la respuesta), por
      lo que `variants` llega vacío. El arreglo `variants` solo lista variantes
      **con nombre** (talla, color, etc.), cuando existen.

      **Inventario.** El stock vive en las variantes, no en el producto; el campo
      `stock` es un consolidado de solo lectura sobre las variantes vendibles.
      Es `null` cuando el producto no controla inventario (todos los servicios, y
      los bienes con el control desactivado), lo que permite distinguir "no
      controla stock" de "controla stock, con 0 existencias".

      **El stock no se edita directamente.** Las existencias se mueven a través
      del kardex (entradas y salidas registradas por documentos autorizados,
      compras o ajustes), nunca escribiendo `stock_quantity`. Al **crear** un
      producto puedes fijar las existencias iniciales con `initial_stock`, que se
      registra como una entrada en el kardex. En una **actualización**,
      `initial_stock` se ignora.
  - name: Facturas
    description: Facturas de venta (comprobante electrónico 01).
  - name: Cotizaciones
    description: |
      Cotizaciones (proformas) para tus clientes. No son comprobantes del SRI;
      se convierten en factura cuando el cliente acepta. Disponibles desde el
      plan Profesional.
  - name: Órdenes
    description: |
      Órdenes de tus clientes: acumulan abonos y se emiten como
      factura cuando los abonos cubren el total. No son comprobantes del SRI.
      Disponibles desde el plan Profesional.
  - name: Comprobantes recibidos
    description: |
      Comprobantes que te emitieron tus proveedores, tal como llegan del SRI.
      Por ahora, los que tienen detalle de productos: facturas, notas de
      crédito y liquidaciones de compra. Siempre son de producción.
paths:
  /api/v1/me:
    get:
      operationId: getMe
      summary: Consultar tu usuario
      description: |
        Devuelve el usuario dueño del token: la persona que inició sesión o, con
        un token de API, el usuario de API de tu cuenta.
      tags: [Cuentas]
      responses:
        "200":
          description: Tu usuario.
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/accounts:
    get:
      operationId: listAccounts
      summary: Listar cuentas
      description: |
        Devuelve las cuentas a las que puedes acceder con tu token: tu propia
        cuenta y, si administras varias, todas las que gestionas.
      tags: [Cuentas]
      responses:
        "200":
          description: Las cuentas a las que puedes acceder.
          content:
            application/json:
              schema:
                type: object
                required: [accounts]
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createAccount
      summary: Crear una cuenta
      description: |
        Provisiona una nueva cuenta bajo tu gestión a partir de su RUC. El perfil
        del negocio y sus establecimientos activos se obtienen del SRI; tú solo
        envías el RUC, los datos de contacto y el plan. Disponible solo si tu
        cuenta está habilitada para administrar varias cuentas; de lo contrario la
        API responde `404`. Si el RUC no existe en el SRI la API responde `404`, y
        si ya está registrado en Tellen responde `409`.
      tags: [Cuentas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountCreateRequest"
      responses:
        "201":
          description: La cuenta creada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: El RUC ya está registrado en Tellen.
          content:
            application/json:
              schema:
                type: object
                required: [errors]
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: getAccount
      summary: Consultar una cuenta
      tags: [Cuentas]
      responses:
        "200":
          description: La cuenta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateAccount
      summary: Actualizar una cuenta
      description: |
        Modifica los datos de tu cuenta o de una cuenta que administras. Envía
        solo los campos que quieras cambiar.

        El plan de tu propia cuenta se gestiona desde tu suscripción, por lo que
        el campo `plan` se ignora al editar tu cuenta; solo se aplica al editar
        una cuenta que administras.
      tags: [Cuentas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUpdateRequest"
      responses:
        "200":
          description: La cuenta actualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/summary:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
    get:
      operationId: getAccountSummary
      summary: Consultar el resumen del mes
      description: |
        Lo vendido y comprado en el mes, y lo que hoy está por cobrar y por
        pagar. Son los mismos totales de los reportes de ventas, cuentas por
        cobrar y cuentas por pagar.

        Ventas, compras propias (liquidaciones) y por cobrar siguen el ambiente
        de la cuenta (pruebas o producción). Las compras recibidas del SRI no
        tienen ambiente. Requiere poder ver reportes (`permissions.read_reports`).
      tags: [Resumen]
      parameters:
        - name: month
          in: query
          required: false
          description: Mes a resumir, como `AAAA-MM`. Por defecto, el mes en curso.
          schema:
            type: string
            pattern: "^\\d{4}-\\d{2}$"
            example: "2026-10"
      responses:
        "200":
          description: El resumen del mes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountSummaryEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ReportsForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/certificates:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listCertificates
      summary: Listar certificados
      description: Devuelve los certificados de firma de la cuenta, del más reciente al más antiguo.
      tags: [Certificados]
      responses:
        "200":
          description: Los certificados de la cuenta.
          content:
            application/json:
              schema:
                type: object
                required: [certificates]
                properties:
                  certificates:
                    type: array
                    items:
                      $ref: "#/components/schemas/Certificate"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createCertificate
      summary: Subir un certificado de firma
      description: |
        Sube un certificado de firma electrónica (.p12 / PKCS#12) para la cuenta.
        Envía el archivo codificado en base64 junto con su contraseña. Si la
        contraseña es correcta, el certificado queda como el certificado activo
        de la cuenta y se usa para firmar sus documentos electrónicos.
      tags: [Certificados]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertificateCreateRequest"
      responses:
        "201":
          description: El certificado subido, ahora activo.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/certificates/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del certificado.
        schema:
          type: string
          format: uuid
    get:
      operationId: getCertificate
      summary: Consultar un certificado
      tags: [Certificados]
      responses:
        "200":
          description: El certificado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteCertificate
      summary: Eliminar un certificado
      description: |
        Elimina un certificado de la cuenta. Si eliminas el certificado activo,
        la cuenta queda sin certificado de firma hasta que subas otro.
      tags: [Certificados]
      responses:
        "204":
          description: El certificado fue eliminado.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/accounts/{account_id}/contacts:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listContacts
      summary: Listar contactos
      description: Devuelve los clientes y proveedores de la cuenta, ordenados por razón social, con paginación.
      tags: [Contactos]
      parameters:
        - name: query
          in: query
          description: Buscar por razón social o identificación.
          schema:
            type: string
        - name: contact_type
          in: query
          description: Filtrar por tipo.
          schema:
            type: string
            enum: [cliente, proveedor]
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los contactos de la cuenta, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [contacts, pagination]
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContactSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createContact
      summary: Crear un contacto
      tags: [Contactos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreateRequest"
      responses:
        "201":
          description: El contacto creado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/contacts/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del contacto.
        schema:
          type: string
          format: uuid
    get:
      operationId: getContact
      summary: Consultar un contacto
      tags: [Contactos]
      responses:
        "200":
          description: El contacto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateContact
      summary: Actualizar un contacto
      description: Envía solo los campos que quieras cambiar.
      tags: [Contactos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUpdateRequest"
      responses:
        "200":
          description: El contacto actualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteContact
      summary: Eliminar un contacto
      description: Solo se pueden eliminar contactos sin documentos asociados.
      tags: [Contactos]
      responses:
        "204":
          description: El contacto fue eliminado.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/stores:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listStores
      summary: Listar establecimientos
      description: Devuelve los establecimientos de la cuenta, ordenados por código, con paginación.
      tags: [Establecimientos]
      parameters:
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los establecimientos de la cuenta, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [stores, pagination]
                properties:
                  stores:
                    type: array
                    items:
                      $ref: "#/components/schemas/StoreSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/accounts/{account_id}/stores/sync:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
    post:
      operationId: syncStores
      summary: Sincronizar establecimientos desde el SRI
      description: |
        Consulta los establecimientos de la cuenta en el SRI y crea uno por cada
        establecimiento activo (`ABIERTO`) que aún no exista. Es idempotente: los
        establecimientos ya registrados se omiten, así que puedes ejecutarlo las
        veces que quieras.
      tags: [Establecimientos]
      responses:
        "200":
          description: Resumen de la sincronización.
          content:
            application/json:
              schema:
                type: object
                required: [created, skipped_inactive, errors]
                properties:
                  created:
                    type: integer
                    description: Establecimientos activos creados.
                  skipped_inactive:
                    type: integer
                    description: Establecimientos omitidos por estar cerrados.
                  errors:
                    type: array
                    items:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/stores/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del establecimiento.
        schema:
          type: string
          format: uuid
    get:
      operationId: getStore
      summary: Consultar un establecimiento
      description: Incluye los puntos de emisión del establecimiento.
      tags: [Establecimientos]
      responses:
        "200":
          description: El establecimiento.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/accounts/{account_id}/emission_points:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
    get:
      operationId: listEmissionPoints
      summary: Listar puntos de emisión
      description: Devuelve los puntos de emisión de la cuenta, ordenados por código, con paginación.
      tags: [Puntos de emisión]
      parameters:
        - name: store_id
          in: query
          description: Filtrar por establecimiento.
          schema:
            type: string
            format: uuid
        - name: first_id
          in: query
          description: Pone este punto de emisión primero en la lista, para que siempre esté en la primera página.
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los puntos de emisión de la cuenta, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [emission_points, pagination]
                properties:
                  emission_points:
                    type: array
                    items:
                      $ref: "#/components/schemas/EmissionPointSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createEmissionPoint
      summary: Crear un punto de emisión
      tags: [Puntos de emisión]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmissionPointCreateRequest"
      responses:
        "201":
          description: El punto de emisión creado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmissionPointEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/emission_points/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del punto de emisión.
        schema:
          type: string
          format: uuid
    get:
      operationId: getEmissionPoint
      summary: Consultar un punto de emisión
      tags: [Puntos de emisión]
      responses:
        "200":
          description: El punto de emisión.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmissionPointEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateEmissionPoint
      summary: Actualizar un punto de emisión
      description: Envía solo los campos que quieras cambiar.
      tags: [Puntos de emisión]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmissionPointUpdateRequest"
      responses:
        "200":
          description: El punto de emisión actualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmissionPointEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteEmissionPoint
      summary: Eliminar un punto de emisión
      description: Solo se pueden eliminar puntos de emisión sin documentos asociados.
      tags: [Puntos de emisión]
      responses:
        "204":
          description: El punto de emisión fue eliminado.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/products:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listProducts
      summary: Listar productos
      description: Devuelve los productos y servicios de la cuenta, ordenados por nombre, con paginación.
      tags: [Productos]
      parameters:
        - name: query
          in: query
          description: Buscar por nombre, código, código secundario, descripción o GTIN.
          schema:
            type: string
        - name: product_type
          in: query
          description: Filtrar por tipo.
          schema:
            type: string
            enum: [bien, servicio]
        - name: ids[]
          in: query
          description: Solo estos productos, todos en una página. Sirve para refrescar los impuestos de las líneas de un borrador.
          schema:
            type: array
            items:
              type: string
              format: uuid
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los productos de la cuenta, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [products, pagination]
                properties:
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProductSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createProduct
      summary: Crear un producto
      description: |
        Crea un producto o servicio. Para controlar inventario, envía
        `track_stock: true` (se ignora en servicios) y, opcionalmente,
        `initial_stock` para registrar las existencias iniciales en el kardex.
      tags: [Productos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductCreateRequest"
      responses:
        "201":
          description: El producto creado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/products/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del producto.
        schema:
          type: string
          format: uuid
    get:
      operationId: getProduct
      summary: Consultar un producto
      description: Incluye la configuración de impuestos, las variantes con nombre y el inventario.
      tags: [Productos]
      responses:
        "200":
          description: El producto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateProduct
      summary: Actualizar un producto
      description: |
        Envía solo los campos que quieras cambiar. Las existencias no se editan
        aquí: se mueven a través del kardex, así que `stock_quantity` no es
        modificable e `initial_stock` se ignora.
      tags: [Productos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdateRequest"
      responses:
        "200":
          description: El producto actualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteProduct
      summary: Eliminar un producto
      description: Solo se pueden eliminar productos sin documentos asociados.
      tags: [Productos]
      responses:
        "204":
          description: El producto fue eliminado.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/invoices:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta. Usa el de tu propia cuenta o el de una cuenta que administras.
        schema:
          type: string
          format: uuid
    get:
      operationId: listInvoices
      summary: Listar facturas
      description: |
        Devuelve las facturas de la cuenta en el ambiente activo (pruebas o
        producción), de la más reciente a la más antigua, con paginación.
      tags: [Facturas]
      parameters:
        - name: status
          in: query
          description: Filtrar por estado.
          schema:
            type: string
            enum: [draft, pending, authorized, rejected, cancelled]
        - name: contact_id
          in: query
          description: Filtrar por cliente.
          schema:
            type: string
            format: uuid
        - name: emission_date_from
          in: query
          description: Facturas emitidas desde esta fecha (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: emission_date_to
          in: query
          description: Facturas emitidas hasta esta fecha (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Las facturas de la cuenta, paginadas.
          content:
            application/json:
              schema:
                type: object
                required: [invoices, pagination]
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvoiceSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createInvoice
      summary: Crear una factura
      description: |
        Crea una factura en borrador. Los impuestos de cada ítem se derivan
        automáticamente del producto referenciado; solo envías el producto, la
        cantidad y el descuento. Para enviarla al SRI, usa luego el endpoint de
        envío.
      tags: [Facturas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceCreateRequest"
      responses:
        "201":
          description: La factura creada en borrador.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/invoices/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la factura.
        schema:
          type: string
          format: uuid
    get:
      operationId: getInvoice
      summary: Consultar una factura
      description: Devuelve la factura con sus ítems, cliente y punto de emisión.
      tags: [Facturas]
      responses:
        "200":
          description: La factura.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateInvoice
      summary: Editar una factura
      description: |
        Edita una factura en borrador o rechazada. Puedes cambiar el cliente y el
        método de pago; si envías `items`, reemplaza todos los ítems actuales.
      tags: [Facturas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceUpdateRequest"
      responses:
        "200":
          description: La factura actualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteInvoice
      summary: Eliminar una factura
      description: Elimina una factura en borrador. Las facturas ya enviadas al SRI no se pueden eliminar.
      tags: [Facturas]
      responses:
        "204":
          description: La factura fue eliminada.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/invoices/{id}/submit:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la factura.
        schema:
          type: string
          format: uuid
    post:
      operationId: submitInvoice
      summary: Enviar una factura al SRI
      description: |
        Encola una factura en borrador o rechazada para su autorización en el SRI.
        La cuenta debe tener un certificado de firma activo. El procesamiento
        ocurre en segundo plano: la factura pasa a `pending` y luego a
        `authorized` o `rejected`. Consulta el estado final con `GET` de la
        factura.
      tags: [Facturas]
      responses:
        "202":
          description: La factura fue encolada para envío (`pending`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/invoices/{id}/void:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la factura.
        schema:
          type: string
          format: uuid
    post:
      operationId: voidInvoice
      summary: Anular una factura
      description: |
        Anula una factura autorizada. Solo es posible hasta el día 7 del mes
        siguiente a la emisión. Recuerda anular también el comprobante en el SRI.
      tags: [Facturas]
      responses:
        "200":
          description: La factura anulada (`cancelled`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/quotes:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
    get:
      operationId: listQuotes
      summary: Listar cotizaciones
      description: Devuelve las cotizaciones de la cuenta, de la más reciente a la más antigua, con paginación.
      tags: [Cotizaciones]
      parameters:
        - name: status
          in: query
          description: Filtrar por estado.
          schema:
            type: string
            enum: [draft, sent, rejected, converted]
        - name: contact_id
          in: query
          description: Filtrar por cliente.
          schema:
            type: string
            format: uuid
        - name: query
          in: query
          description: Buscar por número de cotización, o por nombre o identificación del cliente.
          schema:
            type: string
        - name: emission_date_from
          in: query
          description: Cotizaciones emitidas desde esta fecha (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: emission_date_to
          in: query
          description: Cotizaciones emitidas hasta esta fecha (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Las cotizaciones de la cuenta, paginadas.
          content:
            application/json:
              schema:
                type: object
                required: [quotes, pagination]
                properties:
                  quotes:
                    type: array
                    items:
                      $ref: "#/components/schemas/QuoteSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotesForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createQuote
      summary: Crear una cotización
      description: |
        Crea una cotización en borrador. Los impuestos de cada ítem se derivan
        del producto referenciado, igual que en las facturas.
      tags: [Cotizaciones]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteCreateRequest"
      responses:
        "201":
          description: La cotización creada en borrador.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotesForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/quotes/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la cotización.
        schema:
          type: string
          format: uuid
    get:
      operationId: getQuote
      summary: Consultar una cotización
      description: Devuelve la cotización con sus ítems, cliente, punto de emisión y, si ya se convirtió, la factura generada.
      tags: [Cotizaciones]
      responses:
        "200":
          description: La cotización.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotesForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateQuote
      summary: Editar una cotización
      description: |
        Edita una cotización en borrador o enviada. Si envías `items`, reemplaza
        todos los ítems actuales.
      tags: [Cotizaciones]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteUpdateRequest"
      responses:
        "200":
          description: La cotización actualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotesForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteQuote
      summary: Eliminar una cotización
      description: Elimina una cotización. Las que ya se convirtieron en factura no se pueden eliminar.
      tags: [Cotizaciones]
      responses:
        "204":
          description: La cotización fue eliminada.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotesForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/quotes/{id}/convert_to_invoice:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la cotización.
        schema:
          type: string
          format: uuid
    post:
      operationId: convertQuoteToInvoice
      summary: Convertir una cotización en factura
      description: |
        Crea una factura en borrador con el cliente, el punto de emisión y los
        ítems de la cotización, que queda como `converted`. La cotización debe
        tener un punto de emisión. Para enviar la factura al SRI, usa luego el
        endpoint de envío de facturas.
      tags: [Cotizaciones]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method:
                  type: string
                  description: Código SRI de forma de pago de la factura (por defecto `20`).
      responses:
        "201":
          description: La factura creada en borrador.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotesForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/orders:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
    get:
      operationId: listOrders
      summary: Listar órdenes
      description: Devuelve las órdenes de la cuenta, del más reciente al más antiguo, con paginación.
      tags: [Órdenes]
      parameters:
        - name: status
          in: query
          description: Filtrar por estado.
          schema:
            type: string
            enum: [open, cancelled, emitted]
        - name: contact_id
          in: query
          description: Filtrar por cliente.
          schema:
            type: string
            format: uuid
        - name: query
          in: query
          description: Buscar por número de orden, o por nombre o identificación del cliente.
          schema:
            type: string
        - name: emission_date_from
          in: query
          description: Órdenes creadas desde esta fecha (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: emission_date_to
          in: query
          description: Órdenes creadas hasta esta fecha (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Las órdenes de la cuenta, paginadas.
          content:
            application/json:
              schema:
                type: object
                required: [orders, pagination]
                properties:
                  orders:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OrdersForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createOrder
      summary: Crear una orden
      description: |
        Crea una orden abierta. Los impuestos de cada ítem se derivan del
        producto referenciado, igual que en las facturas.
      tags: [Órdenes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateRequest"
      responses:
        "201":
          description: La orden creada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OrdersForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/orders/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la orden.
        schema:
          type: string
          format: uuid
    get:
      operationId: getOrder
      summary: Consultar una orden
      description: Devuelve la orden con sus ítems, abonos, cliente, punto de emisión y, si ya se emitió, la factura generada.
      tags: [Órdenes]
      responses:
        "200":
          description: La orden.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OrdersForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateOrder
      summary: Editar una orden
      description: |
        Edita una orden abierta. Si envías `items`, reemplaza todos los ítems
        actuales.
      tags: [Órdenes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderUpdateRequest"
      responses:
        "200":
          description: La orden actualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OrdersForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteOrder
      summary: Eliminar una orden
      description: Elimina una orden y sus abonos. Las que ya se emitieron como factura no se pueden eliminar.
      tags: [Órdenes]
      responses:
        "204":
          description: La orden fue eliminada.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OrdersForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/orders/{id}/emit_to_invoice:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador de la orden.
        schema:
          type: string
          format: uuid
    post:
      operationId: emitOrderToInvoice
      summary: Emitir una orden como factura
      description: |
        Crea una factura en borrador con el cliente, el punto de emisión y los
        ítems de la orden, con sus pagos tomados de los abonos (uno por forma de
        pago). La orden queda como `emitted`. Requiere un punto de emisión y
        abonos que cubran el total (`ready_to_emit`). Para enviar la factura al
        SRI, usa luego el endpoint de envío de facturas.
      tags: [Órdenes]
      responses:
        "201":
          description: La factura creada en borrador.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OrdersForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/orders/{order_id}/collections:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: order_id
        in: path
        required: true
        description: Identificador de la orden.
        schema:
          type: string
          format: uuid
    post:
      operationId: createOrderCollection
      summary: Registrar un abono
      description: |
        Registra un abono en una orden abierta. No puede superar el saldo
        pendiente. Devuelve la orden actualizada.
      tags: [Órdenes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionCreateRequest"
      responses:
        "201":
          description: La orden con el abono registrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OrdersForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/orders/{order_id}/collections/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: order_id
        in: path
        required: true
        description: Identificador de la orden.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del abono.
        schema:
          type: string
          format: uuid
    delete:
      operationId: deleteOrderCollection
      summary: Eliminar un abono
      description: Elimina un abono de una orden abierta. Devuelve la orden actualizada.
      tags: [Órdenes]
      responses:
        "200":
          description: La orden sin el abono.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/OrdersForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/accounts/{account_id}/received_documents:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
    get:
      operationId: listReceivedDocuments
      summary: Listar comprobantes recibidos
      description: Devuelve las facturas, notas de crédito y liquidaciones de compra recibidas, de la más reciente a la más antigua, con paginación.
      tags: [Comprobantes recibidos]
      parameters:
        - name: type
          in: query
          description: Filtrar por tipo de comprobante.
          schema:
            type: string
            enum: [invoice, credit_note, purchase_liquidation]
        - name: outstanding
          in: query
          description: Con `true`, solo lo que aún se le debe al proveedor.
          schema:
            type: boolean
        - name: contact_id
          in: query
          description: Filtrar por proveedor.
          schema:
            type: string
            format: uuid
        - name: query
          in: query
          description: Buscar por proveedor (nombre o RUC), número, clave de acceso o autorización.
          schema:
            type: string
        - name: authorization_date_from
          in: query
          description: Autorizados por el SRI desde esta fecha (YYYY-MM-DD, hora de Ecuador).
          schema:
            type: string
            format: date
        - name: authorization_date_to
          in: query
          description: Autorizados por el SRI hasta esta fecha (YYYY-MM-DD, hora de Ecuador).
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Número de página (25 por página).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Los comprobantes recibidos, paginados.
          content:
            application/json:
              schema:
                type: object
                required: [received_documents, pagination]
                properties:
                  received_documents:
                    type: array
                    items:
                      $ref: "#/components/schemas/ReceivedDocumentSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ReceivedDocumentsForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/accounts/{account_id}/received_documents/{id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: Identificador de la cuenta.
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        description: Identificador del comprobante recibido.
        schema:
          type: string
          format: uuid
    get:
      operationId: getReceivedDocument
      summary: Consultar un comprobante recibido
      description: Devuelve el comprobante con su detalle, sus impuestos y los pagos hechos al proveedor.
      tags: [Comprobantes recibidos]
      responses:
        "200":
          description: El comprobante recibido.
          content:
            application/json:
              schema:
                type: object
                required: [received_document]
                properties:
                  received_document:
                    $ref: "#/components/schemas/ReceivedDocument"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ReceivedDocumentsForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Token de API enviado como `Authorization: Bearer tellen_tk_...`. Genera
        tu token desde tu cuenta de Tellen. Tu cuenta debe tener el acceso a la
        API habilitado.
  schemas:
    User:
      type: object
      required: [id, email, name, image_url, provider]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: [string, "null"]
          description: Nombre y apellido, o `null` si no los ha registrado.
        image_url:
          type: [string, "null"]
          format: uri
          description: Foto de perfil de Google o Apple, o `null` si no tiene.
        provider:
          type: [string, "null"]
          enum: [google_oauth2, apple, null]
          description: Con qué cuenta inicia sesión, o `null` si usa correo y contraseña.
    Account:
      type: object
      description: Forma resumida (para listados).
      required: [id, razon_social, nombre_comercial, ruc, plan]
      properties:
        id:
          type: string
          format: uuid
        razon_social:
          type: string
          description: Razón social (nombre legal registrado del negocio).
        nombre_comercial:
          type: string
          description: Nombre comercial del negocio.
        ruc:
          type: string
          description: RUC ecuatoriano de 13 dígitos.
        plan:
          type: string
          enum: [basico, profesional, empresarial]
        logo_url:
          type: [string, "null"]
          format: uri
          description: URL pública del logo de la cuenta, o `null` si no tiene.
    AccountDetail:
      description: Forma completa (al consultar, crear o actualizar una cuenta), con el perfil del SRI, datos de contacto y establecimientos.
      allOf:
        - $ref: "#/components/schemas/Account"
        - type: object
          required: [dir_matriz, email, phone, billing_email, regimen, obligado_contabilidad, agente_retencion, contribuyente_especial, exportador, production_mode, can_issue_documents, permissions, stores, created_at]
          properties:
            dir_matriz:
              type: string
              description: Dirección de la matriz.
            email:
              type: string
              format: email
            phone:
              type: string
            billing_email:
              type: [string, "null"]
            regimen:
              type: [string, "null"]
              enum: [general, negocio_popular, rimpe, null]
            obligado_contabilidad:
              type: boolean
            agente_retencion:
              type: boolean
            contribuyente_especial:
              type: boolean
            exportador:
              type: [boolean, "null"]
            production_mode:
              type: boolean
              description: "true = ambiente de producción del SRI; false = pruebas."
            can_issue_documents:
              type: boolean
              description: |
                `false` cuando la cuenta no tiene un plan activo y ya usó sus
                facturas gratuitas. Mientras tanto, los recursos de la cuenta
                responden `402`.
            permissions:
              type: object
              description: |
                Lo que puedes hacer en la cuenta, según su plan y tu rol en ella.
                Con un token de API todo lo que el plan incluye es `true`.
              required: [create_invoices, edit_invoices, submit_invoices, void_invoices, create_quotes, convert_quotes, create_orders, emit_orders, record_collections, read_received_documents, manage_contacts, manage_products, read_certificates, read_reports, manage_settings]
              properties:
                create_invoices:
                  type: boolean
                edit_invoices:
                  type: boolean
                  description: Editar facturas en borrador o rechazadas.
                submit_invoices:
                  type: boolean
                  description: Enviar facturas al SRI.
                void_invoices:
                  type: boolean
                  description: Anular facturas autorizadas.
                create_quotes:
                  type: boolean
                  description: Crear cotizaciones (proformas).
                convert_quotes:
                  type: boolean
                  description: Convertir cotizaciones en factura.
                create_orders:
                  type: boolean
                  description: Crear órdenes con abonos.
                emit_orders:
                  type: boolean
                  description: Emitir órdenes como factura.
                record_collections:
                  type: boolean
                  description: Registrar y eliminar abonos.
                read_received_documents:
                  type: boolean
                  description: Ver los comprobantes recibidos de proveedores.
                manage_contacts:
                  type: boolean
                  description: Crear, editar y eliminar clientes y proveedores.
                manage_products:
                  type: boolean
                  description: Crear, editar y eliminar productos.
                read_certificates:
                  type: boolean
                  description: Ver los certificados de firma electrónica.
                read_reports:
                  type: boolean
                  description: Ver reportes y el resumen del mes.
                manage_settings:
                  type: boolean
                  description: Editar los datos y la configuración de la cuenta.
            stores:
              type: array
              description: Establecimientos de la cuenta.
              items:
                type: object
                required: [id, code, name]
                properties:
                  id:
                    type: string
                    format: uuid
                  code:
                    type: string
                  name:
                    type: string
            created_at:
              type: string
              format: date-time
    AccountEnvelope:
      type: object
      required: [account]
      properties:
        account:
          $ref: "#/components/schemas/AccountDetail"
    AccountSummaryEnvelope:
      type: object
      required: [summary]
      properties:
        summary:
          $ref: "#/components/schemas/AccountSummary"
    AccountSummary:
      type: object
      required: [month, sales, receivable, purchases, payable]
      properties:
        month:
          type: string
          description: El mes resumido, como `AAAA-MM`.
          example: "2026-10"
        sales:
          type: object
          description: Facturas autorizadas emitidas en el mes.
          required: [total, count]
          properties:
            total:
              type: number
            count:
              type: integer
        receivable:
          type: object
          description: Lo que hoy deben los clientes por facturas a crédito, sin importar el mes.
          required: [total, overdue]
          properties:
            total:
              type: number
            overdue:
              type: number
              description: La parte ya vencida.
        purchases:
          type: object
          description: |
            Facturas y notas de débito recibidas emitidas en el mes, más las
            liquidaciones de compra autorizadas.
          required: [total]
          properties:
            total:
              type: number
        payable:
          type: object
          description: Lo que hoy se debe a proveedores por documentos recibidos, sin importar el mes.
          required: [total, count]
          properties:
            total:
              type: number
            count:
              type: integer
              description: Documentos con saldo pendiente.
    Certificate:
      type: object
      required: [id, name, active, expires_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Nombre generado del certificado (incluye el RUC y la fecha de vencimiento).
        active:
          type: boolean
          description: Si es el certificado activo de la cuenta (solo uno lo está a la vez).
        expires_at:
          type: [string, "null"]
          format: date-time
          description: Fecha de vencimiento del certificado.
    CertificateEnvelope:
      type: object
      required: [certificate]
      properties:
        certificate:
          $ref: "#/components/schemas/Certificate"
    CertificateCreateRequest:
      type: object
      required: [certificate]
      properties:
        certificate:
          type: object
          required: [p12_file, p12_password]
          properties:
            p12_file:
              type: string
              format: byte
              description: Archivo .p12 (PKCS#12) codificado en base64.
            p12_password:
              type: string
              description: Contraseña del certificado .p12.
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Mensaje de error descriptivo, en español.
    AccountCreateRequest:
      type: object
      required: [account]
      properties:
        account:
          type: object
          required: [ruc, email, phone, plan]
          description: |
            Solo necesitas el RUC, los datos de contacto y el plan. El perfil del
            negocio (razón social, dirección, régimen, obligaciones tributarias) y
            los establecimientos activos se obtienen automáticamente del SRI y no
            se pueden sobrescribir.
          properties:
            ruc:
              type: string
              description: RUC ecuatoriano de 13 dígitos. Debe ser único y existir en el SRI.
            email:
              type: string
              format: email
            phone:
              type: string
            plan:
              type: string
              enum: [basico, profesional, empresarial]
            production_mode:
              type: boolean
              description: Ambiente del SRI. Si se omite, la cuenta se crea en el ambiente de pruebas (`false`).
    AccountUpdateRequest:
      type: object
      required: [account]
      properties:
        account:
          type: object
          description: |
            Envía solo los campos que quieras cambiar. El campo `plan` se ignora
            al editar tu propia cuenta y solo se aplica al editar una cuenta que
            administras.
          properties:
            razon_social:
              type: string
              description: Razón social (nombre legal registrado del negocio).
            nombre_comercial:
              type: string
              description: Nombre comercial del negocio.
            dir_matriz:
              type: string
              description: Dirección de la matriz (establecimiento principal).
            email:
              type: string
              format: email
            phone:
              type: string
            billing_email:
              type: string
              format: email
            plan:
              type: string
              enum: [basico, profesional, empresarial]
            regimen:
              type: string
              enum: [general, negocio_popular, rimpe]
            obligado_contabilidad:
              type: boolean
            agente_retencion:
              type: boolean
            contribuyente_especial:
              type: boolean
            exportador:
              type: boolean
            sector_turistico:
              type: boolean
            production_mode:
              type: boolean
    Pagination:
      type: object
      required: [page, total_pages, total_count]
      properties:
        page:
          type: integer
        total_pages:
          type: integer
        total_count:
          type: integer
    InvoiceSummary:
      type: object
      required: [id, status, sequential, emission_date, total]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, pending, authorized, rejected, cancelled]
        sequential:
          type: string
          description: Secuencial completo (establecimiento-punto-secuencial).
        emission_date:
          type: string
          format: date
        contact_name:
          type: [string, "null"]
          description: Razón social del cliente.
        total:
          type: number
          description: Total de la factura, con impuestos.
    TaxTotal:
      type: object
      required: [code, label, rate, base, iva]
      properties:
        code:
          type: string
          description: Código de porcentaje de IVA del SRI.
        label:
          type: string
          description: Como lo nombra el RIDE, p. ej. "IVA 15%" o "no objeto de IVA".
        rate:
          type: number
        base:
          type: number
          description: Subtotal gravado con este tipo de IVA.
        iva:
          type: number
    DocumentDetail:
      type: object
      required: [id, product_id, product_variant_id, code, description, quantity, unit_price, discount, subtotal, tax_rate, tax_value, ice_rate, total]
      properties:
        id:
          type: string
          format: uuid
        product_id:
          type: [string, "null"]
          format: uuid
        product_variant_id:
          type: [string, "null"]
          format: uuid
          description: Variante facturada. Para editar el documento, reenvíala como `product_variant_id`.
        code:
          type: [string, "null"]
        description:
          type: string
        quantity:
          type: number
        unit_price:
          type: number
        discount:
          type: number
        subtotal:
          type: number
        tax_rate:
          type: number
          description: Porcentaje de IVA aplicado.
        tax_value:
          type: number
        ice_rate:
          type: [number, "null"]
          description: Porcentaje de ICE del ítem, o `null` si no grava ICE.
        total:
          type: number
    Invoice:
      type: object
      required: [id, status, sequential, emission_date, contact, emission_point, payment_method, payments, total_without_taxes, total_discount, taxes, total_ice, total, access_key, authorization_number, error_message, public_url, pdf_url, created_at, items]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, pending, authorized, rejected, cancelled]
        sequential:
          type: string
        emission_date:
          type: string
          format: date
        contact:
          type: object
          properties:
            id:
              type: string
              format: uuid
            razon_social:
              type: [string, "null"]
            identificacion:
              type: [string, "null"]
        emission_point:
          type: object
          properties:
            id:
              type: string
              format: uuid
            code:
              type: [string, "null"]
            store_code:
              type: [string, "null"]
        payment_method:
          type: string
          description: Código SRI de la forma de pago principal (el primer pago de contado, o el primero si todo es a crédito).
        payments:
          type: array
          items:
            $ref: "#/components/schemas/Payment"
        total_without_taxes:
          type: number
        total_discount:
          type: number
        taxes:
          type: array
          description: Base e IVA por tipo de IVA, como los totaliza el RIDE.
          items:
            $ref: "#/components/schemas/TaxTotal"
        total_ice:
          type: number
        total:
          type: number
        access_key:
          type: [string, "null"]
          description: Clave de acceso de 49 dígitos (presente una vez enviada al SRI).
        authorization_number:
          type: [string, "null"]
        error_message:
          type: [string, "null"]
          description: Motivo del rechazo, cuando el estado es `rejected`.
        public_url:
          type: [string, "null"]
          format: uri
          description: Página pública de la factura para compartir con el cliente. Solo cuando está autorizada.
        pdf_url:
          type: [string, "null"]
          format: uri
          description: El RIDE en PDF. Solo cuando está autorizada.
        created_at:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: "#/components/schemas/DocumentDetail"
    Payment:
      type: object
      required: [forma_pago, detail_code, amount, plazo, due_date, notes]
      properties:
        forma_pago:
          type: string
          description: Código SRI de forma de pago.
        detail_code:
          type: [string, "null"]
          description: Detalle interno de la forma de pago (marca de tarjeta, banco), p. ej. `visa_credito`.
        amount:
          type: number
        plazo:
          type: [integer, "null"]
          description: Días de crédito. Vacío si se pagó de contado.
        due_date:
          type: [string, "null"]
          format: date
          description: Fecha de vencimiento de un pago a crédito.
        notes:
          type: [string, "null"]
    PaymentRequest:
      type: object
      required: [forma_pago, amount]
      properties:
        forma_pago:
          type: string
          enum: ["01", "15", "16", "17", "18", "19", "20", "21"]
          description: Código SRI de forma de pago.
        detail_code:
          type: string
          enum: [amex, visa_credito, mastercard_credito, diners, discover, visa_debito, mastercard_debito, banco_pichincha, banco_guayaquil, produbanco, banco_pacifico, banco_bolivariano, banco_internacional, banco_austro, banco_solidario, banco_promerica, otra_institucion]
          description: |
            Detalle opcional de la forma de pago. Debe pertenecer a `forma_pago`:

            - `19` Tarjeta de crédito: `amex`, `visa_credito`, `mastercard_credito`, `diners`, `discover`
            - `16` Tarjeta de débito: `visa_debito`, `mastercard_debito`
            - `20` Otros con utilización del sistema financiero: `banco_pichincha`, `banco_guayaquil`, `produbanco`, `banco_pacifico`, `banco_bolivariano`, `banco_internacional`, `banco_austro`, `banco_solidario`, `banco_promerica`, `otra_institucion`
        amount:
          type: number
          description: Monto del pago. Los pagos deben sumar el total de la factura.
        plazo:
          type: integer
          description: Días de crédito. Omítelo para un pago de contado.
        notes:
          type: string
    InvoiceEnvelope:
      type: object
      required: [invoice]
      properties:
        invoice:
          $ref: "#/components/schemas/Invoice"
    DocumentStatus:
      type: object
      description: Identificador y estado de un documento tras una acción de ciclo de vida (envío, anulación). Consulta el recurso completo con `GET`.
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, pending, authorized, rejected, cancelled]
    DocumentDetailRequest:
      type: object
      description: |
        Referencia un producto por `product_variant_id` (preferido) o por
        `product_id` (usa la variante por defecto del producto). Los impuestos
        se derivan del producto.
      properties:
        product_variant_id:
          type: string
          format: uuid
          description: ID de la variante del producto. Preferido.
        product_id:
          type: string
          format: uuid
          description: ID del producto. Atajo que resuelve a su variante por defecto.
        quantity:
          type: number
          description: Cantidad (por defecto 1).
        unit_price:
          type: number
          description: Precio unitario. Si se omite, usa el de la variante.
        discount:
          type: number
          description: Descuento (por defecto 0).
    InvoiceCreateRequest:
      type: object
      required: [invoice]
      properties:
        invoice:
          type: object
          required: [contact_id, emission_point_id, items, payments]
          properties:
            contact_id:
              type: string
              format: uuid
              description: Cliente de la factura.
            emission_point_id:
              type: string
              format: uuid
            payments:
              type: array
              minItems: 1
              description: Formas de pago de la factura, de contado o a crédito.
              items:
                $ref: "#/components/schemas/PaymentRequest"
            items:
              type: array
              minItems: 1
              items:
                $ref: "#/components/schemas/DocumentDetailRequest"
    InvoiceUpdateRequest:
      type: object
      required: [invoice]
      properties:
        invoice:
          type: object
          description: Envía solo los campos que quieras cambiar.
          properties:
            contact_id:
              type: string
              format: uuid
            payments:
              type: array
              minItems: 1
              description: Si se envía, reemplaza todos los pagos actuales.
              items:
                $ref: "#/components/schemas/PaymentRequest"
            items:
              type: array
              description: Si se envía, reemplaza todos los ítems actuales.
              items:
                $ref: "#/components/schemas/DocumentDetailRequest"
    QuoteSummary:
      type: object
      required: [id, number, status, expired, emission_date, expires_at, contact_name, total]
      properties:
        id:
          type: string
          format: uuid
        number:
          type: string
          description: Número de la cotización, con ceros a la izquierda.
        status:
          type: string
          enum: [draft, sent, rejected, converted]
        expired:
          type: boolean
          description: "`true` si pasó su fecha de vencimiento sin convertirse."
        emission_date:
          type: string
          format: date
        expires_at:
          type: [string, "null"]
          format: date
        contact_name:
          type: string
          description: Razón social del cliente.
        total:
          type: number
          description: Total de la cotización, con impuestos.
    Quote:
      allOf:
        - $ref: "#/components/schemas/QuoteSummary"
        - type: object
          required: [contact, emission_point, notes, invoice_id, public_url, pdf_url, total_without_taxes, total_discount, taxes, total_ice, created_at, items]
          properties:
            contact:
              type: object
              required: [id, razon_social, identificacion]
              properties:
                id:
                  type: string
                  format: uuid
                razon_social:
                  type: string
                identificacion:
                  type: string
            emission_point:
              type: [object, "null"]
              description: Punto de emisión con el que se facturará; necesario para convertirla.
              required: [id, code, store_code]
              properties:
                id:
                  type: string
                  format: uuid
                code:
                  type: string
                store_code:
                  type: [string, "null"]
            notes:
              type: [string, "null"]
            invoice_id:
              type: [string, "null"]
              format: uuid
              description: La factura en que se convirtió, si ya se convirtió.
            public_url:
              type: string
              format: uri
              description: Página pública de la cotización para compartir con el cliente.
            pdf_url:
              type: string
              format: uri
              description: La cotización en PDF.
            total_without_taxes:
              type: number
            total_discount:
              type: number
            taxes:
              type: array
              description: Base e IVA por tipo de IVA, como los totaliza el RIDE.
              items:
                $ref: "#/components/schemas/TaxTotal"
            total_ice:
              type: number
            created_at:
              type: string
              format: date-time
            items:
              type: array
              items:
                $ref: "#/components/schemas/DocumentDetail"
    QuoteEnvelope:
      type: object
      required: [quote]
      properties:
        quote:
          $ref: "#/components/schemas/Quote"
    QuoteCreateRequest:
      type: object
      required: [quote]
      properties:
        quote:
          type: object
          required: [contact_id, items]
          properties:
            contact_id:
              type: string
              format: uuid
              description: Cliente de la cotización.
            emission_point_id:
              type: string
              format: uuid
              description: Punto de emisión con el que se facturará. Necesario para convertirla en factura.
            expires_at:
              type: string
              format: date
              description: Fecha hasta la que es válida.
            notes:
              type: string
            items:
              type: array
              minItems: 1
              items:
                $ref: "#/components/schemas/DocumentDetailRequest"
    QuoteUpdateRequest:
      type: object
      required: [quote]
      properties:
        quote:
          type: object
          description: Envía solo los campos que quieras cambiar.
          properties:
            contact_id:
              type: string
              format: uuid
            emission_point_id:
              type: string
              format: uuid
            expires_at:
              type: string
              format: date
            notes:
              type: string
            items:
              type: array
              description: Si se envía, reemplaza todos los ítems actuales.
              items:
                $ref: "#/components/schemas/DocumentDetailRequest"
    ContactSummary:
      type: object
      required: [id, razon_social, identificacion, tipo_identificacion, cliente, proveedor]
      properties:
        id:
          type: string
          format: uuid
        razon_social:
          type: string
        identificacion:
          type: string
          description: RUC, cédula, pasaporte, etc.
        tipo_identificacion:
          type: string
          description: Código SRI del tipo de identificación.
        cliente:
          type: boolean
        proveedor:
          type: boolean
    Contact:
      allOf:
        - $ref: "#/components/schemas/ContactSummary"
        - type: object
          properties:
            nombre_comercial:
              type: [string, "null"]
            tipo_contribuyente:
              type: [string, "null"]
            email:
              type: [string, "null"]
            phone:
              type: [string, "null"]
            mobile_phone:
              type: [string, "null"]
            address:
              type: [string, "null"]
            note:
              type: [string, "null"]
            created_at:
              type: string
              format: date-time
    ContactEnvelope:
      type: object
      required: [contact]
      properties:
        contact:
          $ref: "#/components/schemas/Contact"
    ContactCreateRequest:
      type: object
      required: [contact]
      properties:
        contact:
          type: object
          required: [razon_social, tipo_identificacion, identificacion]
          description: Marca al menos uno de `cliente` o `proveedor`.
          properties:
            razon_social:
              type: string
            nombre_comercial:
              type: string
            tipo_identificacion:
              type: string
              description: Código SRI del tipo de identificación.
            identificacion:
              type: string
            cliente:
              type: boolean
            proveedor:
              type: boolean
            tipo_contribuyente:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
            mobile_phone:
              type: string
            address:
              type: string
            note:
              type: string
    ContactUpdateRequest:
      type: object
      required: [contact]
      properties:
        contact:
          type: object
          description: Envía solo los campos que quieras cambiar.
          properties:
            razon_social:
              type: string
            nombre_comercial:
              type: string
            tipo_identificacion:
              type: string
            identificacion:
              type: string
            cliente:
              type: boolean
            proveedor:
              type: boolean
            tipo_contribuyente:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
            mobile_phone:
              type: string
            address:
              type: string
            note:
              type: string
    StoreSummary:
      type: object
      required: [id, code, name, address]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          description: Código de 3 dígitos del establecimiento.
        name:
          type: string
        address:
          type: string
    Store:
      allOf:
        - $ref: "#/components/schemas/StoreSummary"
        - type: object
          required: [emission_points]
          properties:
            phone:
              type: [string, "null"]
            email:
              type: [string, "null"]
            emission_points:
              type: array
              items:
                type: object
                required: [id, code]
                properties:
                  id:
                    type: string
                    format: uuid
                  code:
                    type: string
                  description:
                    type: [string, "null"]
    StoreEnvelope:
      type: object
      required: [store]
      properties:
        store:
          $ref: "#/components/schemas/Store"
    EmissionPointSummary:
      type: object
      required: [id, code, store_id, store_code]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          description: Código de 3 dígitos del punto de emisión.
        description:
          type: [string, "null"]
        store_id:
          type: string
          format: uuid
        store_code:
          type: string
    EmissionPoint:
      allOf:
        - $ref: "#/components/schemas/EmissionPointSummary"
        - type: object
          properties:
            next_sequential_test:
              type: integer
              description: Siguiente secuencial a usar en el ambiente de pruebas.
            next_sequential_production:
              type: integer
              description: Siguiente secuencial a usar en producción.
            created_at:
              type: string
              format: date-time
    EmissionPointEnvelope:
      type: object
      required: [emission_point]
      properties:
        emission_point:
          $ref: "#/components/schemas/EmissionPoint"
    EmissionPointCreateRequest:
      type: object
      required: [emission_point]
      properties:
        emission_point:
          type: object
          required: [store_id, code]
          properties:
            store_id:
              type: string
              format: uuid
              description: Establecimiento al que pertenece.
            code:
              type: string
              description: Código de 3 dígitos, único por establecimiento.
            description:
              type: string
            next_sequential_test:
              type: integer
              description: Secuencial inicial en pruebas (por defecto 1).
            next_sequential_production:
              type: integer
              description: Secuencial inicial en producción (por defecto 1).
    EmissionPointUpdateRequest:
      type: object
      required: [emission_point]
      properties:
        emission_point:
          type: object
          description: Envía solo los campos que quieras cambiar.
          properties:
            store_id:
              type: string
              format: uuid
            code:
              type: string
            description:
              type: string
            next_sequential_test:
              type: integer
            next_sequential_production:
              type: integer
    ProductSummary:
      type: object
      required: [id, name, product_type, price_before_tax, iva, iva_rate, has_ice, ice_rate, track_stock, default_variant_id, variants]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        code:
          type: [string, "null"]
          description: Código interno, único por cuenta.
        product_type:
          type: string
          enum: [bien, servicio]
        price_before_tax:
          type: number
          description: Precio unitario sin impuestos.
        iva:
          type: string
          enum: ["0", "5", "8", "12", "15", no_objeto_iva, exento_iva]
        iva_rate:
          type: number
          description: Porcentaje de IVA aplicado.
        has_ice:
          type: boolean
          description: Si el producto grava ICE.
        ice_rate:
          type: [number, "null"]
          description: Porcentaje de ICE, o `null` si no aplica. Se calcula sobre el subtotal, y el IVA sobre el subtotal más el ICE.
        track_stock:
          type: boolean
          description: Si el producto controla inventario.
        default_variant_id:
          type: string
          format: uuid
          description: Variante única de un producto sin variantes con nombre. Para facturarlo, envíala como `product_variant_id`.
        variants:
          type: array
          description: Variantes con nombre que se venden (activas). Vacío para un producto de un solo SKU. Para facturar una, envía su `id` como `product_variant_id`.
          items:
            type: object
            required: [id, code, name, price_before_tax]
            properties:
              id:
                type: string
                format: uuid
              code:
                type: string
              name:
                type: string
              price_before_tax:
                type: number
              stock_quantity:
                type: number
                description: Existencias de la variante, si controla stock.
    Product:
      allOf:
        - $ref: "#/components/schemas/ProductSummary"
        - type: object
          properties:
            secondary_code:
              type: [string, "null"]
            gtin:
              type: [string, "null"]
            description:
              type: [string, "null"]
            unit_of_measurement:
              type: [string, "null"]
              enum: [unidad, litro, kilogramo, metro, metro_cuadrado, metro_cubico, caja, paquete, botella, lata, null]
            stock:
              type: [object, "null"]
              description: Inventario del producto, o `null` si no controla stock.
              required: [total]
              properties:
                total:
                  type: number
                  description: Existencias actuales sumadas sobre las variantes vendibles.
                status:
                  type: [string, "null"]
                  enum: [in_stock, low_stock, out_of_stock, "null"]
                  description: |
                    Estado consolidado de las variantes vendibles, o `null` si
                    ninguna reporta estado (p. ej. un producto que controla stock
                    pero sin variantes vendibles activas).
            created_at:
              type: string
              format: date-time
    ProductEnvelope:
      type: object
      required: [product]
      properties:
        product:
          $ref: "#/components/schemas/Product"
    ProductCreateRequest:
      type: object
      required: [product]
      properties:
        product:
          type: object
          required: [name, code, product_type, iva, price_before_tax]
          properties:
            name:
              type: string
            code:
              type: string
              description: Código interno, único por cuenta.
            secondary_code:
              type: string
            gtin:
              type: string
[...]
